<!doctype html>
<html lang="en" xmlns:th="http://wwww.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<link rel="stylesheet" type="text/css" href="webjars/bootstrap/5.2.0/css/bootstrap.min.css" />
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

<footer class="bg-light text-center text-lg-start">
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        <br/>
        <br/>
        <br/>
        © 2023 Copyright:
        <a class="text-dark" href="https://www.linkedin.com/in/abde-ellatif-boutahar-494078206/">Abde-ellatif Boutahar</a>
    </div>
    <!-- Copyright -->
</footer>

</body>
</html>